#macbook-img{
  width: 100%;
  height: auto;
}

#colored-heading,h2{
  color: #fb7070;
}

#me{
  width: 40%;
  padding: 50px;
  height: auto;
  display: inline-block;;
  border-radius: 50%;
}

#keep-portland-weird{
  padding: 50px;
}

#emoji{
  font-size: 50px;
}
